body {
    background: linear-gradient(to right, #e91e63, #3f51b5);
    height: 100%;
}

.button {
    width: 52px;
    height: 52px;
    font-size: 27px;
    margin: 2px;
    cursor: pointer;
    background-color: #0a2533;
    border: none;
    color: rgb(192, 156, 156);
}

.textview {
    width: 220px;
    margin: 6px;
    font-size: 27px;
    padding: 5px;
    color: #147db1;
}

.main {
    position: absolute;
    left: 42%;
    top: 20%;
}